<html lang="pt-pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuário - Cansei Vendi</title>
    <link rel="stylesheet" href="https://kit.fontawesome.com/860a93fa84.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/account/seller.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>
    <div name="login-area">
        {{ header |raw }}
    </div>
    <main class="container py-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/">Início</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="/">Minha conta</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    Cadastre-se
                </li>
            </ol>
        </nav>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header border-0 bg-light">
                        <h5 class="card-title">Crie sua conta</h5>
                        <p>Se você já tem uma conta em nossa loja, acesse sua conta <a href="/account/login">clicando aqui.</a></p>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Dados pessoais</h5>
                        <form action="/account/seller/register" method="post">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <input type="text" class="form-input form-control" id="firstname" placeholder="Nome" name="firstname"
                                        required>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <input type="text" class="form-input form-control" id="lastname" placeholder="Sobrenome" name="lastname"
                                        required>
                                </div>
                            </div>
                            <div class="row">
                              <div class="col-md-6 mb-3">
                                <input type="email" class="form-input form-control" id="email" placeholder="E-mail" name="email"
                                required>
                              </div>
                              <div class="col-md-6 mb-3">
                                <input type="tel" class="form-input form-control" id="telephone" name="telephone"
                                placeholder="Digite seu telefone" required>
                              </div>
                            </div>
                              <div>
                                <h5>Sua senha de acesso</h5>
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                      <input type="password" class="form-input form-control" id="password" name="password"
                                      placeholder="Senha" required>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                      <input type="password" class="form-input form-control" id="confirm-password" name="confirm-password"
                                      placeholder="Repetir a senha" required>
                                    </div>
                                  </div>
                                </div>
                                <div class="mb-3">
                                    <input type="checkbox" class="form-check-input" id="newsletter" name="newsletter">
                                    <label for="newsletter" class="form-label">
                                      Eu li e concordo com o contrato de
                                      <a href=""> Termos e condições </a>
                                    </label>
                                </div>
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-dark text-uppercase">Criar conta</button>
                                </div>
                        </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div name="footer">
        {{ footer |raw }}
    </div>
  </body>

</html>