<ul class="list-group">
	<li class="list-group-item">
		<a href="#">Área do Vendedor</a>
	</li>
	<li class="list-group-item">
		<a href="">Meus Agendamentos</a>
	</li>
	<li class="list-group-item">
		<a href="">Alterar Senha</a>
	</li>
	<li class="list-group-item">
		<a href="">Informações da Conta</a>
	</li>
	<li class="list-group-item">
		<a href="">Meus Endereços</a>
	</li>
	<li class="list-group-item">
		<a href="">Lista de Desejos</a>
	</li>
	<li class="list-group-item">
		<a href="">Meus Pedidos</a>
	</li>
</ul>
