<div name="balance-area" class="col-md-12 mb-3">
	<div class="mb-3">
		<a class="btn btn-dark" href="/account/seller/bankaccount/add">
			ADICIONAR CONTA BANCARIA
		</a>
	</div>
	<div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Banco</th>
					<th scope="col">Tipo de Conta</th>
					<th scope="col">Agência</th>
					<th scope="col">Conta</th>
					<th scope="col">Opções</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td scope="row">Banco 1</td>
					<td>Tipo 1</td>
					<td>Agência 1</td>
					<td>000001</td>
					<td>
						<div class="d-flex justify-content-around">
							<button data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tooltip on top" style="height: 37px;" type="button" class="btn btn-dark">
								<i class="fa-sharp fa-solid fa-pen"></i>
							</button>
							<button type="button" class="btn btn-dark">
								<i class="fa-solid fa-trash"></i>
							</button>
						</div>
					</td>
				</tr>
				<tr>
					<td scope="row">Banco 2</td>
					<td>Tipo 2</td>
					<td>Agência 2</td>
					<td>000002</td>
					<td>
						<div class="d-flex justify-content-around">
							<button disabled style="height: 37px;" type="button" class="btn btn-dark">
								<i class="fa-sharp fa-solid fa-pen"></i>
							</button>
							<button disabled type="button" class="btn btn-dark">
								<i class="fa-solid fa-trash"></i>
							</button>
						</div>
					</td>
				</tr>
				<tr>
					<td scope="row">Banco 2</td>
					<td>Tipo 3</td>
					<td>Agência 3</td>
					<td>000003</td>
					<td>
						<div class="d-flex justify-content-around">
							<button disabled style="height: 37px;" type="button" class="btn btn-dark">
								<i class="fa-sharp fa-solid fa-pen"></i>
							</button>
							<button disabled type="button" class="btn btn-dark">
								<i class="fa-solid fa-trash"></i>
							</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
