<div name="balance-area" class="col-md-12 mb-3">
	<div class="message-area">
		<p>
			<b>* As transferências são realizadas em até 5 dias úteis!</b>
		</p>
	</div>
	<div class="mb-3">
		<a class="btn btn-dark" href="/account/seller/transfer/add">
			ADICIONAR TRANSFERÊNCIA
		</a>
	</div>
	<div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Conta Bancária</th>
					<th scope="col">Valor</th>
					<th scope="col">Status</th>
					<th scope="col">Data</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td scope="row">Banco 1</td>
					<td>R$ 000,00</td>
					<td>Status 1</td>
					<td>01/03/2022</td>
				</tr>
				<tr>
					<td scope="row">Banco 2</td>
					<td>R$ 000,00</td>
					<td>Status 2</td>
					<td>01/03/2022</td>
				</tr>
				<tr>
					<td scope="row">Banco 3</td>
					<td>R$ 000,00</td>
					<td>Status 3</td>
					<td>01/03/2022</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
