<div name="balance-area" class="col-md-12 mb-3">
	<div class="message-area">
		<p>
			<b>* As transferências são realizadas em até 5 dias úteis!</b>
		</p>
	</div>
	<div class="mb-3">
		<a class="btn btn-dark" href="/account/seller/transfer/add">
			ADICIONAR TRANSFERÊNCIA
		</a>
	</div>
	<div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Conta Bancária</th>
					<th scope="col">Valor</th>
					<th scope="col">Status</th>
					<th scope="col">Data</th>
				</tr>
			</thead>
			<tbody>
			{% for transaction in transactions %}
				<tr>
					<td scope="row"></td>
					<td scope="row">{{ transaction.value|abs }}</td>
					<td scope="row">{{ transaction.status }}</td>
					<td scope="row">{{ transaction.date_added }}</td>
				</tr>
			{% endfor %}
			<tbody>
		</table>
	</div>
</div>
