<footer>
  <div class="col-md-12 break"></div>
  <div class="container">
    <div class="d-flex flex-wrap justify-content-between align-items-start">
      <div class="container__about">
        <h4>Fale conosco</h4>
        <div>
          <p><a href="#">(11) 94138-3112</a></p>
          <p><a href="mailto:contato@canseivendi.com.br">contato@canseivendi.com.br</a></p>
        </div>
        <h4>Concept Store</h4>
        <div>
          <p>Alameda Lorena, 1969</p>
          <p>Jardins, São Paulo - SP</p>
          <p>01424-007</p>
        </div>
      </div>
      <div class="container__about">
        <h4>Informações</h4>
        <div>
          <p><a href="#">Entregas e fretes</a></p>
          <p><a href="#">Como Comprar</a></p>
          <p><a href="#">Quero Vender</a></p>
          <p><a href="#">Formas de Pagamentos</a></p>
          <p><a href="#">Black Friday</a></p>
        </div>
      </div>
      <div class="container__about">
        <h4>Legal</h4>
        <div>
          <p><a href="#">Termos e Condições</a></p>
          <p><a href="#">Políticas de Trocas e Devoluções</a></p>
        </div>
        <h4>Sobre</h4>
        <div>
          <p><a href="#">Quem somos</a></p>
          <p><a href="#">Autenticidade</a></p>
          <p><a href="#">Blog</a></p>
        </div>
      </div>
      <div>
        <h4>Siga-nos</h4>
        <div>
          <p><a href="#">/cansei_vendi</a></p>
          <p><a href="#">@cansei_vendi</a></p>
          <p><a href="#">/cansei_vendi</a></p>
          <p><a href="#">@cansei_vendi</a></p>
        </div>
      </div>
      <div>
        <h4>+ Procurados</h4>
        <div>
          <p><a href="#">Bolsa Chanel</a></p>
          <p><a href="#">Bolsa Prada</a></p>
          <p><a href="#">Bolsa Gucci</a></p>
          <p><a href="#">Bolsa Dior</a></p>
          <p><a href="#">Bolsa Louis Vuitton</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="copy m-4">
    <p>Cansei Vendi - Brechó de Luxo Online com as melhores marcas de luxo. Chanel, Louis Vuitton, Prada, Gucci, Dior, entre outras. Pagamento em até 12X sem juros.</p>
    <p>Todos os direitos reservados - CNPJ: 26.375.270/0001-70</p>
  </div>
</footer>
