<header>
    <div class="header-top d-flex justify-content-between text-light px-5">
        <p class="t">As melhores marcas em até 12x sem juros! Somente produtos originais e com duplo aval de autenticidade.</p>
        <button type="button">QUERO VENDER</button>
    </div>
    <div class="header-middle d-flex justify-content-between align-items-center px-5">
        <div>
        <img src="https://canseivendi.com.br/image/catalog/logos/logo-cansei-vendi.png" alt="@Cansei Vendi" class="img-responsive" width="153px" height="40px" />
        </div>
        <div class="menu-desktop">
            <div class="sub-menu">
                <ul class="link-list">
                    <li>
                        <a href="#" class="selected">início</a>
                    </li>
                    <li class="sub-menu tes">
                        <a href="#">
                            produtos
                            <span class="carret" />
                        </a>
                    </li>
                    <a href="#">quem somos</a>
                </ul>
            </div>
            <form class="form-search">
                <input type="text" placeholder="Buscar Produtos" class="form-search__input"/>
                <button type="button"></button>
            </form>
            <div class="menu-tools">
                <a href="#"><img src="/assets/img/ico-heart.svg" alt="icon heart"/></a>
                <a href="#"><img src="/assets/img/ico-bag.svg" alt="icon bag"/></a>
            </div>
            <div>
                <a href="/account/seller/register">Cadastrar-se</a>
                <a href="/components/login">Acessar</a>
            </div>
        </div>
    </div>
</header>